
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
main {
  padding: 8px;
  padding-top: 48px;
}
h3 a {
  color: white;
  text-decoration: none;
  text-shadow: green 2px 2px;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
.order-details {
  border-spacing: 10px;
}
.order-details th {
  text-align: right;
}
#orders .mdl-button--fab {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 999;
}
.error {
  background-color: #d50000;
}
